*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.section{
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 80px;
    padding-right: 80px;
    
}
.section .container{
    display: flex;
    justify-content: space-between;
    
    
    
}

.section .container .col1 a{
    text-decoration: none;
    color: black;
}

.section .container .col1 ul{
    display: flex;
    list-style: none;
    font-size: 20px;
    color: black;
    
}
@media(max-width: 991px){
    .section .container .col1 ul{
        display: none;
    }
}

.col-m h4{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.col-m p{
    text-align: center;
}



.section7{
    background-color: rgb(54, 83, 142);
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: space-between;
    
    
}
.section7 .container .row{
    display: flex;
    gap: 20px;
    
}

.col-20 h2{
    margin-top: 10px;
    color: white;
}

.col-20 p{
    color: white;
}
 .col-21{
    
 }
 .col-21 h5{
    text-align: center;
    margin-bottom: 15px;
    color: white;
    font-size:15px;
 }

.col-21 ul li a {
    text-decoration: none;
    /* padding: 40px; */
    color: white;
    /* margin: 10px; */

}
.col-21  ul li{
    margin-bottom: 10px;
}

.col-22 ul li a{
    text-decoration: none;
    /* padding: 40px; */
    color: white;
    /* margin: 10px; */
}
.col-22 h5{
    text-align: center;
    margin-bottom: 15px;
    color: white;
    font-size:15px;
}
.col-22  ul li{
    margin-bottom: 10px;
}
.col-23 h2 {
    font-size: 15px;
    color: white;

}


 













 








